<!DOCTYPE html>
<html ng-app="router">
<head>
	<title>Router</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/router.css">
</head>
<body ng-controller="routerCtrl">
	<div class="container">
	<h1>Router</h1>
		<hr>
		<div class="row">
			
			
			<div class="col-md-12 col-lg-12">  <!-- TAB -->
				<ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Connections/DV</a></li>
      <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Chat</a></li>
      
    </ul>
<div id="myTabContent" class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
        
        <div class="col-md-6 col-lg-6">  <!-- DV -->
				<table class="table table-bordered">
				<thead>
				<tr>
					<th>VIA/DESTINO</th>
					<th ng-repeat="column in columns">{{column}}</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="column in columns">
					<th> {{column}} </th>
					<td ng-repeat="cost in columns">{{nodes[column][cost]}}</td>
				</tr>
				</tbody>
				</table>
			</div> <!-- /DV -->

      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
        
        <div class="row">
					<div class="col-md-5 col-lg-5 ">
						<form>
  <div class="form-group">
    <label for="to">To</label>
    <select class="form-control" ng-model="message.to">
  <option ng-repeat="column in columns" value="{{column}}">{{column}}</option>
</select>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
<textarea class="form-control" rows="3" ng-model="message.text"></textarea>
	  </div>
 
  <button type="submit" class="btn btn-default" ng-click="sendMessage()">Send</button>
</form>
					</div>
					<div class="col-md-7 col-lg-7 chat">
						<div ng-repeat="m in messages" class="list-group">
						  <a  class="list-group-item ">
						    <h4 class="list-group-item-heading">{{m.sender}}</h4>
						    <p class="list-group-item-text">{{m.text}}</p>
						  </a>
					</div>
					</div>
        </div>

      </div>
    </div>


			</div> <!-- /TAB -->  	

		</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/socket.io.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>